body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  background: #ffffff; }

* {
  box-sizing: border-box; }

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block; }

.movie-header {
  padding: 0 30px; }
  .movie-header .navbar {
    padding: 0; }
    .movie-header .navbar .navbar-brand {
      margin-right: 0; }
      .movie-header .navbar .navbar-brand img {
        width: 50%;
        display: block;
        margin: auto; }
    .movie-header .navbar #my-nav .navbar-nav .nav-item .nav-link {
      padding-left: 20px;
      padding-right: 20px;
      color: #29303b;
      font-weight: 700; }
    .movie-header .navbar .login {
      color: gray; }
      .movie-header .navbar .login .username a,
      .movie-header .navbar .login .site a {
        margin: 0 10px;
        color: #29303b; }
        .movie-header .navbar .login .username a:hover,
        .movie-header .navbar .login .site a:hover {
          color: #fe7900;
          transition: 0.3s;
          text-decoration: none; }

.movie-carousel {
  position: relative;
  height: 560px; }
  .movie-carousel .overlay {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(31, 29, 29, 0.719), black); }
  .movie-carousel .bg-item {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    visibility: hidden;
    opacity: 0; }
    .movie-carousel .bg-item img {
      height: 100%;
      width: 100%; }
    .movie-carousel .bg-item.active {
      opacity: 1;
      visibility: visible;
      transition: 0.5s; }
  .movie-carousel .movie-carousel__content .carousel__content {
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4; }
    .movie-carousel .movie-carousel__content .carousel__content .content {
      position: relative;
      height: 100%;
      width: 100%; }
      .movie-carousel .movie-carousel__content .carousel__content .content .item {
        text-align: center;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0%;
        transform: translateY(-30%);
        opacity: 0; }
        .movie-carousel .movie-carousel__content .carousel__content .content .item.active {
          opacity: 1; }
@keyframes tobottom {
  0% {
    transform: translateY(-100px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes totop {
  0% {
    transform: translateY(100px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }
          .movie-carousel .movie-carousel__content .carousel__content .content .item.active h1 {
            animation: tobottom 2s cubic-bezier(0.075, 0.82, 0.165, 1); }
          .movie-carousel .movie-carousel__content .carousel__content .content .item.active p {
            animation: tobottom 2s cubic-bezier(0.075, 0.82, 0.165, 1); }
          .movie-carousel .movie-carousel__content .carousel__content .content .item.active button {
            animation: totop 2s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .movie-carousel .movie-carousel__content .carousel__items {
    z-index: 6; }

.movie-footer .footer__content {
  padding: 60px 0;
  color: gray;
  background-image: url("../img/footer_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .movie-footer .footer__content img {
    width: 35%; }
  .movie-footer .footer__content ul {
    list-style: none;
    padding-left: 0; }
    .movie-footer .footer__content ul li {
      line-height: 30px; }
      .movie-footer .footer__content ul li a {
        color: #4a4a4a; }
        .movie-footer .footer__content ul li a:hover {
          color: #fe7900;
          transition: 0.3s;
          text-decoration: none; }
  .movie-footer .footer__content .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(29, 27, 27, 0.3); }
  .movie-footer .footer__content .item p {
    margin: 20px 0; }
  .movie-footer .footer__content .item .head {
    color: #fe7900; }
  .movie-footer .footer__content .item .icons i {
    color: white;
    border-radius: 50%;
    background: #4a4a4a;
    width: 34px;
    height: 34px;
    line-height: 2;
    padding-left: 9px;
    margin: 0 3px;
    cursor: pointer; }
    .movie-footer .footer__content .item .icons i:hover {
      background: #fe7900;
      transition: 0.5s; }
  .movie-footer .footer__content .item .input-group .form-control {
    background: #4a4a4a;
    padding: 10px;
    border: none;
    color: #fff; }
    .movie-footer .footer__content .item .input-group .form-control::placeholder {
      color: #fff; }
    .movie-footer .footer__content .item .input-group .form-control:focus::placeholder {
      opacity: 0; }
  .movie-footer .footer__content .item .input-group .input-group-append:hover i {
    color: #fe7900; }
.movie-footer .footer__copyright {
  padding: 40px 0;
  background: black; }
  .movie-footer .footer__copyright .copy {
    color: #4a4a4a; }
  .movie-footer .footer__copyright .policy a {
    color: #4a4a4a; }
    .movie-footer .footer__copyright .policy a:hover {
      color: #fe7900;
      transition: 0.3s;
      text-decoration: none; }

/*# sourceMappingURL=stylesheet.css.map */
